*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	list-style:none;
	text-decoration: none;
}

body{
	background-color: #d6d6d6;
	font-family: 'ariel', sans-serif;

}



.banner {
	width:100%;
	height:100px;
	display:block;
	background-color: #474747;
	text-align:center;
}

.banner h1 {
  color: white;
}

.banner h4{
  color: white;
}

.index {
	width:60%;
	height:200px;
	background-color: black;
	margin:auto;
	text-align:center;
}

.aboutme {
	width:60%;
	height:200px;
	margin:auto;
	text-align:center;
}

.container h1 {
  margin:auto;
  text-align:center;
}

.projectsp{
  text-align: center !important;
}

.cardsblock {
  width:80%;
  margin:auto;
  background-color: red;
}

.intropara {
  width: 80%;
  height: 100px;

}

.card {
  float: right;
  padding:0 100px 0 100px !important;
  align-items: center;
}


.btn btn-primary {
  text-align:center;
}



